
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set background color for the body */
body {
    background-color: cornflowerblue;
    color:black;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    
    background-color:rgb(10, 94, 249);
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 9px 8px rgba(0,0,0,0.5);
}

header h1 {
    font-size: 2.5em;
}

/* Style sections */
section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 8px 5px black
}
section h2 {
    color: #333;
    font-size: 1.8em;
}

section p {
    font-size: 1.2em;
    line-height: 1.6;
}
/* Style the footer */
footer {

    text-align: center;
    padding: 10px 0;
    background-color: rgb(10,94, 249);
    color: white;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 4, 1);
    font-size: 1.0em;
}
.author{
    width: 850px;
    margin: 20px auto;
    color: black;
    border-radius: 20px;
    padding: 2rem;
    background-color: white;
}
.pembuat {
width: 750px;
border-radius: 10px;
margin: 10px auto; 
background-color: grey;
padding: 2rem; color: white;
}

.Deskripsi{
    width: 850px;
    margin: 20px auto;
    color: black;
    border-radius: 20px;
    padding: 2rem;
    background-color: white;
    
}

.Fotokota{
    width: 850px;
    margin: 20px auto;
    color: black;
    border-radius: 20px;
    padding: 2rem;
    background-color: white;
    text-align: center;
 }

.Informasikota{
    width: 850px;
    margin: 20px auto;
    color: black;
    border-radius: 20px;
    padding: 2rem;
    background-color: white;
    text-align: center;
 }

 .Hubungisaya{
    width: 850px;
    margin: 20px auto;
    color: black;
    border-radius: 20px;
    padding: 2rem;
    background-color: white;
 }




div img{
  width: 400px;
  height: 200px;
  border: 0px solid;
  border-radius: 13px;
  box-shadow: 3px 6px 6px 0px black;
  ruby-align: center;

  margin: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="Usia"], 
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius:5px;
    border: 2px solid #ccc;
}
form input[type="date"]
{
  width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius:5px;
    border: 2px solid #ccc;
}
form input[type="submit"] {
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: red;
}
.fotokota{
    text-align: center;
}
tr,td,th table{
    border: 1px solid lightblue;
    border-collapse: collapse;
}
td,th{
    padding: 6px 15px;
}
tr:nth-child(even){
    background-color: aliceblue;
}
th{
    background-color: cornflowerblue;
    color: white;
}
ul{
    color: black;
}